body{
    background-color: whitesmoke  ;
}

.tosSection {
    text-align: center;
    position: relative;
    padding: 10px;
    box-shadow: 0px 2px 2px 0 rgba(0,0,0, .14), 0 3px 1px -2px rgba(0, 0 , 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
    margin: 90px;
    background-color: #fff;
}

.startBtn{
    margin-right: 25px;
    background-color: whitesmoke;
}

.stopBtn{
    margin-left: 25px;
    background-color: whitesmoke;
}
.allOtherSection {
    text-align: center;
    position: relative;
    padding: 10px;
    box-shadow: 0px 2px 2px 0 rgba(0,0,0, .14), 0 3px 1px -2px rgba(0, 0 , 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
    margin: 90px;
    background-color: #fff;
}

.totalTask, .aht, .tat{
    text-align: center;
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 2px 2px 0 rgba(0,0,0, .14), 0 3px 1px -2px rgba(0, 0 , 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
    background-color: #fff;
}